<!DOCTYPE html>
<html ng-app="wikiIndexerApp">
<head>
    <title>Wiki Indexer</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-hQpvDQiCJaD2H465dQfA717v7lu5qHWtDbWNPvaTJ0ID5xnPUlVXnKzq7b8YUkbN" crossorigin="anonymous" />
    <link href="css/custom.css" rel="stylesheet" />

    <script src = "https://cdn.zingchart.com/zingchart.min.js" ></script>
    <script>
        zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
        ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
    </script>
</head>
<body>
<div class="loader" ng-hide="initialized">
    <p>Loading...</p>
    <p><span class="fa fa-spinner fa-spin"></span></p>
</div>
<div class="main-content-holder">
    <div class="container ng-hide" ng-show="initialized" ng-controller="IndexController">
        <div>
            <h2>Wiki Indexer Of Awesomeness</h2>
            <div class="moveRight">Search Word: <input type="checkbox" ng-model="mode"></div>
            <div class="row input-holder">

                <div ng-show="mode">
                    <form class="form-horizontal col-md-6 row">
                        <div class="col-md-5 myMargin">
                            <input class="form-control input-xs" type="text" placeholder="Search Wikipedia Article:"
                                   name="input"
                                   ng-model="title" ng-pattern="example.word" required ng-trim="true">
                        </div>
                        <div class="myMargin">
                            <button class="btn btn-primary" ng-click="searchWord(title,word)">
                                Search
                            </button>
                        </div>


                        <!--Word search-->
                        <div class="col-md-5">
                            <input class="form-control input-xs" type="text" placeholder="Search word from Article:"
                                   name="input"
                                   ng-model="word" ng-pattern="example.word" required ng-trim="true">
                        </div>
                    </form>
                </div>

                <div ng-hide="mode">
                    <form class="form-horizontal col-md-6 row">
                        <div class="col-md-5 myMargin">
                            <input class="form-control input-xs" type="text" placeholder="Search Wikipedia Article:"
                                   name="input"
                                   ng-model="title" ng-pattern="example.word" required ng-trim="true">
                        </div>
                        <div class="myMargin">
                            <button class="btn btn-primary" ng-click="searchArticle(title)">Search</button>
                        </div>
                    </form>
                </div>


                <!--File Upload-->
                <form>
                    <div class="col-md-4">
                        <div class="input-group file-upload">
                            <label class="input-group-btn">
                    <span class="btn btn-success">
                        Choose file&hellip; <input type="file" ng-model="uploadedFile" demo-file-model="myFile"
                                                   class="form-control" id="myFileField" style="display: none;"
                                                   onchange="validateFile(this);" accept="text/plain">
                    </span>
                            </label>
                            <p name="Errors"></p>
                            <input autocomplete="off" id="file-name-holder" type="text" class="form-control moveUp"
                                   value="{{uploadedFile}}" readonly>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button ng-click="uploadFile()" class="btn btn-primary moveDown">Upload File</button>
                    </div>
                    <div id="fileError"><p id="errorText"></p></div>
                </form>
            </div>
        </div>

        <div ng-show="showError">
            <h3>Wikipedia does not have an article with that title.
                Insert a different title and try again.
            </h3>

        </div>

        <div ng-view>

        </div>
    </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.js"></script>



<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script src="https://cdn.zingchart.com/angular/zingchart-angularjs.js"></script>

<script type="text/javascript" src="js/ValidateFileUpload.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/services/services.js"></script>
<script type="text/javascript" src="js/controllers/controllers.js"></script>
<script type="text/javascript" src="js/directives/directives.js"></script>
<script>
    $('input[type="file"]').change(function () {
        $("#file-name-holder").val($(this)[0].files[0].name);
    });
</script>

</body>
</html>